@tailwind base;
@tailwind components;
@tailwind utilities;

@import "leaflet/dist/leaflet.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f9fafb; /* Um cinza bem clarinho igual ao seu rascunho */
}

/* esconder scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  scrollbar-width: none;
}

.custom-price-icon {
  width: auto !important;
  height: auto !important;
}

.price-marker {
  display: inline-flex; /* 🔥 muda de flex pra inline-flex */
  align-items: center;
  justify-content: center;

  background: white;
  color: #111;

  padding: 8px 14px;
  border-radius: 999px;

  font-size: 14px;
  font-weight: 600;
  line-height: 1;

  white-space: nowrap;

  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.08);

  transform: translate(-50%, -100%);
  transition: all 0.2s ease;
}

.price-marker.active {
  background: #111;
  color: #fff;
  transform: translate(-50%, -100%) scale(1.1);
}